
{{> navigationegresado}}

<div class="homegresado mt-4">
    <div class="container">
        <div class="row text-center">
           <div class="col">
               <h1> <STROng>Eventos UTP</STROng> </h1>
           </div> 
        </div>
        
        <div class="row mt-4">
            
            <div class="col">
                <p class="mb-0"> <strong>Tus intereses: </strong> </p>
                {{#each arrayintereses}}
                    <p class="mb-0">{{text}}</p>
                {{/each}}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-color mt-3" data-toggle="modal" data-target="#exampleModalCenter">
                    Cambiar
                </button> 
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Cambiar</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/egresados/intereses" method="POST">
                                <div class="modal-body">
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Deporte" value="Deporte" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            Deporte
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Cultura" value="Cultura"id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Cultura
                                        </label>
                                    </div>
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Conciertos" value="Conciertos" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            Conciertos
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Observatorio" value="Observatorio" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            Observatorio
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Certificaciones" value="Certificaciones" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            Certificaciones
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button class="btn btn-color">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>       

        <div class="row">
            <div class="col-md-8 offset-md-2">
                {{#each noticias}}
                    <div class="card mt-5">
                        <img src="/static/{{pathimg}}" alt="" class="card-img-top">  
                        <div class="card-body">
                            <h5>{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>       
        </div>
    </div>
    
</div>