<!-- TODO Crear ruta de egresados--> 
{{> navigationegresado}}

<div class="homegresado">
    <div class="container">
        <h1>noticias de la plataforma - En construcción :) ...</h1>
        <div class="row">
            <div class="col">
                <div id="titleoutput"></div>
                <div id="postoutput"></div>
            </div>
        </div>
    </div>
    
</div>

<!-- TODO solucionar no funciona emitir para todos 
     y si se crea otro js para emitir a los egresados? 
    <script src="/static/js/frontsockets.js" charset="utf-8"></script> -->