<!-- TODO Crear ruta de egresados--> 
{{> navigationegresado}}

<div class="homegresado mt-4">
    <div class="container">
        <div class="row text-center">
           <div class="col">
               <h1> <STROng>Eventos UTP</STROng> </h1>
           </div> 
        </div>
        <!-- TODO añadir info de los intereses del user-->

        <div class="row">
            <div class="col-md-8 offset-md-2">
                {{#each noticias}}
                    <div class="card mt-5">
                        <img src="/static/{{pathimg}}" alt="" class="card-img-top">  
                        <div class="card-body">
                            <h5>{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>       
        </div>
    </div>
    
</div>

<!-- TODO solucionar no funciona emitir para todos 
     y si se crea otro js para emitir a los egresados? 
    <script src="/static/js/frontsockets.js" charset="utf-8"></script> -->