<!-- TODO Crear ruta de egresados--> 
{{> navigationegresado}}

<div class="homegresado">
    <div class="container">
        <h1>noticias de la plataforma - En construcción :) ...</h1>
    </div>
    
</div>
