{{> navigation}}

<div class="inicio">
    <div class="container">
        <div class="row text-center mt-4">
            <div class="col">
                <h1 class="titles h2 mb-4"><strong>Observatorio De Egresados</strong> </h1>
                <p>Bienvenido al Observatorio de egresados, una iniciativa que busca unir a la comunidad de egresados UTP</p>
            </div>
        </div>
    
        <!-- formulario inicio sesion-->
        <div class="formulario"> 
            <div class="row mt-2 text-center">
                <div class="col-8 offset-2 col-lg-4 offset-lg-4">
                    <h5 class="titles mb-3"><STRONg>Inicio de Sesión</STRONg></h5>
                    <form action="/" method="POST"> 
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" d="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electronico"
                            autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-enter">Ingresar</button>
                        </div>
                        
                        <div class="form-group">
                            <a href="/egresados/preregistro">Pre-Registro</a>
                        </div>
                        
                        <div class="form-group">
                            <a href="/forgotpassword">He olvidado mi contraseña</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>


        <!-- CHAT CONTAINER -->
        <div id="contentWrap">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <!-- CARD HEADER-->
                        <div class="card-header bg-dark text-white">
                            <h4>Let's Chat</h3>
                        </div>

                        <!-- CARD BODY-->
                        <div id="chat" class="card-body"></div>

                        <!-- CARD FOOTER -->
                        <form id="message-form" class="card-footer">
                            <div class="input-group">
                                <input type="text" id="message" class="form-control" />
                                <div class="input-group-append">
                                <button class="btn btn-warning">
                                    <i class="fas fa-location-arrow"></i> Send
                                </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>