
body {
    background: white;
    color: #8D897B;
}

.navbar {
    background: #00365D !important;
}

p {
    color: #8D897B;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-enter {
    color: white;
    background: #8FC413;
    width: 60%;
} 

.btn-menu-super {
    color: white;
    background: #8FC413;
    width: 100%;
    height: 100%;
    border-radius: 200px 200px 200px 200px;
}

.btn-menu-super:hover {
    color: white !important;
}
.homesuper {
    margin-bottom: 15%;
}

.adminlist {
    margin-top: 6%;
    margin-bottom: 8%;
}

.homegresado{
    margin-bottom: 30%;
}

.homeadmin {
    margin-bottom: 30%;
}

.preregistro {
    margin-bottom: 10%;
}
#footer {
    margin-top: 3%;
    background: #00365D !important;
}

#footer p{
    color: aliceblue;
}

#footer h2{
    color: aliceblue;
}

#footer .h6{
    /*height: 25px;*/  
    color: aliceblue;
    /*padding-bottom: 1px;*/
}