
body {
    background: white;
    color: #8D897B;
}

.navbar {
    background: #00365D !important;
}

p {
    color: #8D897B;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-enter {
    color: white;
    background: #8FC413;
    width: 60%;
} 

.btn-menu-super {
    color: white;
    background: #8FC413;
    width: 100%;
    height: 100%;
    border-radius: 200px 200px 200px 200px;
}

.btn-changepassword {
    color: white;
    background: #8FC413;
    width: 100%;
}

.btn-menu-super:hover {
    color: white !important;
}
.homesuper {
    margin-bottom: 15%;
}

.adminlist {
    margin-top: 6%;
    margin-bottom: 8%;
}

.homegresado{
    margin-bottom: 30%;
}

/*********** admin styles *********/
.homeadmin {
    margin-bottom: 30%;
}

.card-redondeado {
    border-radius: 15px;
}

.title-post {
    border: 0;
}

.title-post::-webkit-input-placeholder {
    text-align: center;
}

.text-area-post {
    border: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
    background: #8FC413;
    color: white !important;
    width: 100%;
    border-radius: 200px 200px 200px 200px;
}
.btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
}

.selectpost {
    background: #8FC413;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 200px 200px 200px 200px;
}
/***********/
.preregistro {
    margin-bottom: 10%;
}

.changepassword{
    margin-bottom: 10%;
}

/********** footer **********/
#footer {
    margin-top: 3%;
    background: #00365D !important;
}

#footer p{
    color: aliceblue;
}

#footer h2{
    color: aliceblue;
}

#footer .h6{
    /*height: 25px;*/  
    color: aliceblue;
    /*padding-bottom: 1px;*/
}

/******* Responsive *********/
/*Small devices*/

@media (max-width: 576px){
    
    .inicio {
        font-size: 15px;
    }
    .homesuper {
        font-size: 15px;

    }
    .registroegresados {
        font-size: 15px;
    }
    .preregistro {
        font-size: 15px;
    }
    .forgotpass {
        font-size: 15px;
    }
    .titles {
        font-size: 20px;
    }
     
}

