<!-- Home admin-->
<!-- TODO hacer home-->
<!-- TODO hacer cambio de contraseña admin-->
{{> navigationadmin}}

<div class="homeadmin">
    <div class="container">
        <h1>Home del Administrador - En construcción :) ...</h1>
    </div>
    
</div>
